*.icon-white {
	color: white;
}

*.icon-silver {
	color: silver;
}

*.icon-green {
	color: green;
}

*.icon-dark {
	color: gray;
}

/* Pre-loader starts */
body
{
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
}

nav li {
 
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

nav li:first-child {
  animation-name: nav-first-link-load;
  transform: translateX(-1000%);
}

nav li:last-child {
  animation-name: nav-last-link-load;
  transform: translateX(1000%);
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nav-first-link-load {
  0% {
    transform: translateX(-1000%);
  }

  90% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nav-last-link-load {
  0% {
    transform: translateX(1000%);
  }

  90% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}
/* Pre-loading ends */

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details {
		display: none
	}
	div.less-details {
		display: block;
	}
	div.car {
		display: none;
	}
	div.container-fluid h1 {
		margin-top: 2%;
		font-size: x-large;
	}
	.pro {
		width: 300px;
		margin: auto;
	}
	.pro_img {
		margin-left: 100px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details {
		display: block;
	}
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: none
	}
	.ci {
		height: 26rem;
	}
	.carousel-caption {
		margin-bottom: 5rem;
		left: 3rem;
	}
	.ci .first {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 26rem;
	}
	.ci .second {
		position: absolute;
		top: 0;
		left: 0;
		width: 85%;
		height: 26rem;
	}
	.ci .third {
		position: absolute;
		left: 5%;
		width: 100%;
		top: 19%;
		height: 20rem;
	}
	.ci .fourth {
		position: absolute;
		width: 100%;
		height: 26rem;
	}
	.car {
		background-color: black;
	}
	.cs h1 {
		margin-top: 80px;
		margin-left: 42%;
	}
	.ci .cs {
		top: 40%;
		left: 30%;
		width: 85%;
	}
	div.carousel-caption p {
		font-size: medium;
	}
	.f {
		max-height: 26rem;
		overflow: hidden;
	}
	.ci .fifth {
		position: absolute;
		min-width: 100%;
	}
	div.container-fluid h1 {
		margin-top: 2%;
		font-size: x-large;
	}
	div.container-fluid .front-images {
		width: 110px;
	}
}

@media screen and (min-width: 1024px) {
	/* big screen */
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: table-cell;
	}
	.th {
		margin-right: 90%;
		width:30%;
	}
}

.cases_btn {
	margin-bottom: 4rem;
}

.cs h1 {
	margin-left: 40%;
	font-size: 35px;
}
.cs p {
	margin-left: 40%;
}

.p {
	padding: 0.5em;
}

.ci .third {
	width: 50%;
	background-color: black;
}

.center {
	text-align: center;
}

.price {
	display: inline;
}

.discount {
	display: inline;
}

.x {
	height: 96%;
}

.pro_img {
	margin-left: 20px;
}

.a {
	margin-bottom: 2%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.car {
	margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.i {
	height: 32rem;
}

.carousel-indicators li {
	width: 5px;
	height: 5px;
	border-radius: 100%;
}

.i>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

.yellow {
	color: black;
}
@media ( min-width : 40em) {
	/* Bump up size of carousel content */
	.carousel-caption>h1 {
		margin-bottom: 1.25rem;
		text-align: left;
		font-size: 1.30rem;
		line-height: 1.4;
	}
	.carousel-caption p {
		margin-bottom: 1.25rem;
		text-align: left;
		font-size: 1.20rem;
		line-height: 1.3;
	}
	.text-end {
		bottom: 0rem;
		z-index: 10;
	}
}